.App {
  background-color: #282c34;
  height: 100vh;
}

.App-logo {
  padding: 0.6em;
  align-self: center;
  height: 4em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Spacer {
  padding: 0;
  height: 10vh;
}

.Nav {
  display: flex;
  background-color: black;
  position: fixed;
  width: 100vw;
}

.Title {
  background-color: #dd4343;
  border-top-left-radius: 10em;
  border-bottom-left-radius: 10em;
  border-right: 0.2em solid black;
  height: 1.4em;

  color: aliceblue;
  padding-left: 0.8em;
}

.TitleDiv {
  align-self: center;
  width: 50vw;
}

.SearchDiv {
  width: 20vw;
}
.NavHolder {
  display: flex;
}

.SearchPlaceholder {
  background-color: #ffffff;
  border-top-right-radius: 10em;
  border-bottom-right-radius: 10em;
  border-left: 0.2em solid black;
  height: 1.4em;
  display: flex;
  overflow: hidden;
  text-align: center;
  justify-content: left;
  color: rgb(145, 145, 145);
  padding-left: 0.8em;
}

.Body {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PokemonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.PokemonCard {
  width: 10em;
  height: 18em;
  background-color: black;
  border-radius: 0.5em;
  border-width: 0.3em;
  border-color: black;
  border-style: solid;
  margin: 1em;
  transition: all 0.5s ease-in-out;
}

.PokemonCard:hover {
  transform: scale(1.1);
  background-color: rgb(29, 29, 29);
  border-color: yellow;
}

.PokemonCardText {
  text-align: center;
  text-transform: capitalize;
  color: #dd4343;
}

.PokemonIMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.StatDiv {
  color: white;
  width: 90vw;
  height: 40vh;
  background-color: black;
  border-radius: 0.5em;
  border-width: 0.3em;
  border-color: black;
  border-style: solid;
  margin: auto;
  margin-top: 0.5em;
}

.LeftButton {
  background-color: rgb(245, 70, 70);
  width: 1.5em;
  height: 100%;
  float: left;
  font-size: 4vw;
  border: none;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

.RightButton {
  background-color: rgb(245, 70, 70);
  width: 1.5em;
  height: 100%;
  float: right;
  font-size: 4vw;
  border: none;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.PokeStats {
}

.PokeAttributes {
}

.StatsTitle {
  margin: 0;
  transform: translate(-5%);
}

.PokemonCardTextText {
  margin: 0;
}

.PokemonComapareIMG {
  padding-top: 2vh;
  width: 15vh;
  float: left;
}

.StatsHolder {
  display: flex;
  margin: 0;
  margin-right: 2.7em;
  justify-content: center;
}

a {
  color: #dd4343;
}

ul {
  padding-inline-start: 20px;
}
